<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Artist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse"> 
    <!--<nav class="navbar navbar-toggleable-md navbar-light bg-faded">-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/artist">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newArtist">New Artist / Album</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <h1 class="artist">Artist Album Tracker</h1>
      </div>
      <div class="row">
         <div class="col-md-2">
        </div>  
        <div class="col-md-4">
          <form action="/newArtist" method="GET">
            <button type="submit" class="btn btn-primary">New Artist / Album</button>
          </form>
        </div>     
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2">
        </div>

        <div class="col-md-6 col-lg-4"> 
          <div class="btn-group-vertical">
            {{#performers}}
              <button type="button" class="btn btn-outline-primary text-left" onclick="showAlbums(`{{albums}}`)">{{artistName}}</button>
            {{/performers}}
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <h3>Albums</h3>
          <p>These are the albums for this band/artist</p>
          <p id="albums">
          </p>
        </div>
      </div>
    </div>
  </body>
  <script>  
    function showAlbums(vinyl) {
      let albumList = document.getElementById("albums");
      let records = vinyl.split(",");

      albumList.innerHTML = "";

      albumList.innerHTML += "<ul>"
      for (x in records) {
        albumList.innerHTML += "<li>" + records[x] + "</li>";
      }
      albumList.innerHTML += "</ul>"
    }
  </script>
</html>