
*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: #D0D0D0;
}

nav {
  min-height: 56px;
}

.wrapper-index,
.wrapper-new {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("./turntable.jpg");
}

.btn-artist {
  margin: 20px;
}

.h1-index {
  text-align: center;
  margin: 60px;
  font-size: 4.5em;
  font-family: 'Monoton', cursive;
}

.h2-index {
  text-align: center;
  margin: 20px;
  font-size: 2.5em;
  font-family: 'Josefin Slab', serif;
}

.h3-index {
  text-align: center;
  margin: 40px;
  font-size: 1.5em;
  font-family: 'Josefin Slab', serif;
}

.h1-artist,
.h1-new {
  text-align: center;
  margin: 20px;
  font-size: 3.5em;
  font-family: 'Monoton', cursive;
}

.h3-artist {
  font-weight: 600;
  font-family: 'Josefin Slab', serif;
}

#albums {
  margin-left: 15px;
}

button:active,
button:focus {
  background:#0078D3 !important;
  color: white !important;
}

.btn-group-vertical {
  width: 80%;
  margin-bottom: 30px;
}

.new-artist {
  padding: 10px;
}

.div-new-artist {
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.h2-new {
  padding-top: 20px;
  font-weight: 600;
  font-family: 'Josefin Slab', serif;
}

.form-group {
  margin: 0 20px;
}

label {
  margin: 20px 0 0 0;
}